* {
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    display: grid;
    grid-template-rows: 10%  75% 15%;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-bottom: 0.1rem solid yellow;
}
header > *{
    font-family: "Roboto Thin", inherit, sans-serif;
}
.blog-title{
    margin-left: 2%;
}
.blog-name{
    color: yellow;
    font-size: 2rem;
}
.blog-author{
    color: white;
    margin-left: 15%;
}
div.sign-buttons{
    margin-right: 1rem;
    margin-top: 1rem;
}
div.sign-buttons > a{
    color:lightgoldenrodyellow;
    text-decoration: none;
}
main{
    background-color: black;
}

footer{
    display: flex;
    vertical-align: center;
    text-align: center;
    color: white;
    border-top: 0.1rem solid yellow;
    background-color: black;
}
footer > div.info{
    margin: auto;
}

main{
    display: flex;
    justify-content: center;
}
