html, body {
    height: 100%;
    width: 100%;

    overflow: hidden;

    font-family: 'Nunito', sans-serif;

    user-select: none;
}

body {
    display: grid;
    grid-template-rows: 10% auto 10%;
    margin: 0;

    text-align: center;

    background: linear-gradient(110deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 26%, #000000 26%, #000000 75%,
        rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 80%);
}

header {
    display: grid;
    grid-template-columns: auto 8%;
}

header > h1,header > h2{
    height: 100%;
    margin: 0;

    display: grid;
}

header > h1 > div {
    margin-top: 1%;
    margin-left: 1%;

    height: 84%;
    width: 26%;

    justify-self: start;

    font-family: 'Nunito', sans-serif;
    font-size: 1.6em;
    color: white;

    background-color: #ec1c2d;
}
header > h2 > div{
    margin-top: 10%;
    margin-right: 10%;

    height: 64%;
    width: 46%;

    justify-self: end;

    font-size: 1.6em;
    color: white;

    background-color: #ec1c2d;

    transition: 200ms;
}
header > h2 > div:hover, form > input[type='submit']:hover{
    cursor: pointer;
    background-color: #9b1b29;
    box-shadow: 3px 3px 1px #ec1c2d;
}
main{
    display: grid;
}
main>form::-webkit-scrollbar{
    width: 0;
}
main>form{
    width: 40%;
    height: 50%;

    background-color: #ec1c2d;
    border: solid 10px black;
    box-shadow: 10px 10px 0 white,
                -10px -10px 0 white;

    justify-self: center;
    align-self: center;

}
main>form>input{
    transition: 200ms;

    font-weight: bolder;
    text-align: center;

    border: none;
    outline: none;
    width: 60%;
    height: 10%;
}
footer{
    display: grid;
}
footer > p{
    margin-top: 2.5%;
    margin-right: 2%;

    justify-self: end;
}