:root{
    --background: #565656;
    --second-background: #1d1d1d;
    --text-color: black;
    --second-text-color: white;
    --shadow-color: rgb(52, 52, 52);
}
*{
    margin: 0;
    padding: 0;
    pointer-events: none;
}
a,input, select{
    pointer-events: auto;
}
select{
    margin-right: auto;
    margin-left: auto;
    height: 50%;
    width: 80%;

    background-color: var(--shadow-color);
    text-align: center;
    color: var(--second-text-color);

    border: none;
    outline: none;
}
a{
    color: var(--second-text-color);
    text-decoration: none;
}
html, body{
    width: 100%;
    height: 100%;

    overflow: hidden;

    font-family: Consolas, sans-serif;

    color: var(--text-color);
    background-color: var(--background);
}
strong{
    font-size: 110%;
}
body{
    display: grid;
        grid-template-rows: 10% auto 8%;
}
header,footer{
    z-index: 1000;

    background-color: var(--second-background);
}
header{
    color: var(--second-text-color);
    font-size: 120%;

    box-shadow: -1px 10px 4px var(--shadow-color);

    display: grid;
        grid-template-columns: 40% auto 10%;
}
header:first-child > *{
    margin: auto;
}

main{
    display: grid;
        grid-template-rows: 10% auto 10%;
}
main>div{
    display: grid;
        grid-template-columns: 10% auto 10%;
}
main{
    overflow: auto;
    pointer-events: auto;
}
main::-webkit-scrollbar {
    width: 0;
}
div.book{
    transition: 400ms;
    display: grid;
        grid-template-columns: 30% auto;
        grid-row-gap: 10%;
}
div.book hr{
    border-color: var(--text-color);
}
div.book a:hover{
    text-shadow: 2px 2px 3px var(--shadow-color);
}
div.book-img{
    margin: auto;
}
div.book-desk{
    display: grid;
        grid-template-rows: 20% 10% 20% 10% auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
}
div.book-desk-ng{
    grid-template-rows: 10% 20% 10% auto 10%;
}
div.book-desk > a{
    text-align: end;
}
div.book-desk > h3{
    font-size: 180%;
}
div.book-img > img{
    width: 90%;
    height: 90%;
    box-shadow: 15px 15px 4px var(--shadow-color);
}
div.book-img > img.no-shadow{
    box-shadow: none;
}
div.book-img > img.big-img{
    width: 100%;
    height: 100%;
}
div.book-content-images img{
    box-shadow: 15px 15px 4px var(--shadow-color);
    margin-left: 5%;
    width: 40%;
    height: 99%;
}
div.book-content{
    font-size: 180%;
    display: grid;
    grid-template-columns: 55% auto;
}
.book-content-header{
    text-align: center;
}
div.form{
    display: grid;
        grid-template-columns: auto 50% auto;
}
form{
    transition: 400ms;

    background-color: var(--second-background);
    box-shadow: -20px 20px 0 var(--shadow-color),
                20px -20px 0 var(--shadow-color);
    display: grid;
        grid-template-rows: 15% 15% 10% 10% auto 10% 10%;
        grid-gap: 2%;
}
form.reg{
    grid-template-rows: 15% 10% 10% 10% 10% 10% auto;
}
form>*{
    text-align: center;
    color: var(--second-text-color);
    font-size: 120%;
}
form input{
    margin-right: auto;
    margin-left: auto;
    height: 50%;
    width: 80%;

    background-color: var(--shadow-color);
    text-align: center;
    color: var(--second-text-color);

    border: none;
    outline: none;
}
form>h3{
    font-size: 380%;
}

footer{
    color: var(--second-text-color);
    font-size: 80%;

    box-shadow: -1px -10px 4px var(--shadow-color);

    display: grid;
        grid-template-columns: 30% auto 30%;
}
footer > div{
    margin: auto;
    text-align: center;
}



/*navigate*/
.navigate-room{
    display: grid;
        grid-template-rows: auto 10% auto 1px auto 10% auto;
    color: var(--second-text-color);
    transition: 400ms;
}
.navigate-room a:hover{
    text-shadow: 2px 2px 2px red;
}
