<form action="/" method="post">
    <h1>Login</h1>
    <label for="name">name</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="lastname">lastname</label><br>
    <input type="text" id="lastname" name="lastname">
    <br><br>
    <input type="submit" value="GO!">
</form>